body {
     margin: 0px;
     background: #FFF;
}

h1 {
    color: white;
    background: #811;
    padding: .5em;
    margin: 0px;
}

table {
    margin: 0px auto;
}

td {
    border: 1px solid #811;
    background: white;
    text-align: center;
    vertical-align: center;
    font-size: 3.5em;
}

p {
    color: white;
    background: #811;
    padding: .5em;
    margin: 0px;
}

.highlight {
    background: #811;
}
