<!DOCTYPE HTML>
<html>

<head>
	<title>supreme tic tac toe</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link href="style.css" rel="stylesheet" type="text/css" /> 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" ></script>
    
<script type="text/javascript">

var c=0;
var t;
var finished = false;

// finishes this game and starts next game
function nextGame() {
    finished = false;
    $("#id").val(Math.random());
    $("td").removeClass("highlight");
    $("td").html(" ");
}

// pings the server once a second about state 
function ping() {
    c=c+1;
    var t=setTimeout("ping()",1000);
    getStatus();
}

// get status server call
function getStatus(){    
    $.getJSON('status.json?id='+$("#id").val(), function(data) {
        if( data.finished ){
            $('#message').html(data.finished);
            finished = true;
        } else {
            $('#message').html(data.message);
        }
        var x = 0;
        for(var ridx in data.grid){
            var r = data.grid[ridx];
            var y = 0;
            for(markidx in r){
                var mark = r[markidx];
                if (mark.length == 1) {
                } else if (mark.length == 2) {
                    mark = mark.substring(0,1);
                    $(("#"+x)+y).addClass("highlight");
                }
                $(("#"+x)+y).html(mark);
                y ++;
            }
            x ++;        
        }
    });
}

// when document loads set everything up
$(document).ready(function(){
    $("td").click(function(event){
        if(finished) {
            nextGame();
        } else {
            $.getJSON('pick.json?xy='+this.id+'&id='+$("#id").val(), 
                function(data) {
                    // as soon as pick signal returns
                    // get status so that we see our move quicker
                    getStatus();
            });
        }
    });
    ping();
    $(window).resize(function() {
        fixGrid()
    });
    fixGrid();
});

// this makes the board always square
function fixGrid(){
    ww = $(window).width();
    wh = $(window).height() - 140;
    if ( ww > wh ) {
        size = wh/3;
    } else {
        size = ww/3;
    }
    $("td").width(size);
    $("td").height(size);
}

</script>
    
</head>

<body>
    <h1>supreme tic tac toe</h1>
    <input type="hidden" id="id" value="{{id}}">
    <table>
        <tr><td id="00"></td><td id="01"></td><td id="02"></td></tr>
        <tr><td id="10"></td><td id="11"></td><td id="12"></td></tr>
        <tr><td id="20"></td><td id="21"></td><td id="22"></td></tr>
    </table>
    <p id="message">waiting for some one to connect ...</p>
</body>

</html>
